.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative; /* Necesario para el posicionamiento absoluto del fondo */
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh; /* Ajusta la altura según tus necesidades */
  background-image: url("./assets/hero.svg");
  background-size: cover; /* Ajusta el tamaño de ambas imágenes */
  background-position: center; /* Centra ambas imágenes */
  background-repeat: no-repeat; /* Evita que ambas imágenes se repitan */
  z-index: -1; /* Envía el fondo al fondo de la pila de capas */
}

.navbar {
  color: #fff;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
}

.Info {
  width: 100%;
  height: auto;
}

.slideContenedor {
  width: 100%;
  height: auto;
}

.slideContenedor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 2px; /* Grosor del borde */
  background: linear-gradient(
    to right,
    transparent 10%,
    /* Degradado desde el borde izquierdo */ #06df0694 50%,
    /* Color intenso en el centro */ transparent 90%
      /* Degradado hacia el borde derecho */
  );
  transform: translateX(-50%); /* Centra el borde */
}

.scrollContainer {
  width: 100%;
  height: auto;
  background-image: url("./assets/b_shape5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
}

.BlogContainer {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.ContactContainer {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  /* Estilos para pantallas de hasta 1200px */
}

/* Estilos para pantallas de hasta 992px */
@media (max-width: 992px) {
}

/* Estilos para pantallas de hasta 768px */
@media (max-width: 768px) {
  .Texto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .Texto p {
    font-size: 1.5rem;
    margin-left: 0;
  }
  .contenedorTexto {
    font-size: 0.6rem;
  }
  .CodeDescripcion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenido {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    gap: 50px;
  }
}

/* Estilos para pantallas de hasta 576px */
@media (max-width: 576px) {
}
.scroll-to-top {
  z-index: 10;
  position: fixed;
  bottom: 50px;
  right: 20px;
  background: linear-gradient(
    135deg,
    #ec4899,
    #8b5cf6
  ); /* Gradiente de rosa a violeta */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, transform 0.3s; /* Cambiado background a background */
}

.scroll-to-top:hover {
  background: linear-gradient(
    135deg,
    #f20ddf,
    #a855f7
  ); /* Gradiente de rosa más claro a violeta más claro */
  transform: scale(1.1);
}
