.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative; /* Necesario para el posicionamiento absoluto del fondo */
  align-items: center;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh; /* Ajusta la altura según tus necesidades */
  background-image: url("./assets/hero.svg");
  background-size: cover; /* Ajusta el tamaño de ambas imágenes */
  background-position: center; /* Centra ambas imágenes */
  background-repeat: no-repeat; /* Evita que ambas imágenes se repitan */
  z-index: -1; /* Envía el fondo al fondo de la pila de capas */
}

.navbar {
  color: #fff;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
}

.contenido {
  display: flex;
  flex: 1;
  margin-top: 30px;
}

.Texto {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Texto p {
  color: white;
  font-size: 3.5rem;
  text-align: start;
  font-weight: 700;
  margin-left: 100px;
}

.text-celeste {
  color: #16f2a6;
}

.text-rosa {
  color: #ec4899;
}

.botones {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.boton {
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: #ec4899;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  transition: transform 0.3s, background-color 0.3s;
}

.boton:hover {
  transform: scale(1.1);
  background-color: #45967969;
}

.boton svg {
  font-size: 2.5rem;
}

.CodeDescripcion {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorTexto {
  width: 80%;
  height: 400px;
  font-size: 0.8rem;
}

.custom-buttons {
  display: flex;
  gap: 10px;
}

.Info {
  width: 100%;
  height: auto;
}
@media (max-width: 1200px) {
  /* Estilos para pantallas de hasta 1200px */
}

/* Estilos para pantallas de hasta 992px */
@media (max-width: 992px) {
}

/* Estilos para pantallas de hasta 768px */
@media (max-width: 768px) {
  .Texto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .Texto p {
    font-size: 1.5rem;
    margin-left: 0;
  }
  .contenedorTexto {
    font-size: 0.6rem;
  }
  .CodeDescripcion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenido {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    margin-top: 20px;
  }
}

/* Estilos para pantallas de hasta 576px */
@media (max-width: 576px) {
}
