* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* index.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #120e18, #2a0fa0);
  /* Ajusta los colores según tu imagen */
}
