.code-container {
  width: 80%;
  height: auto;
  background-color: #0b0e32;
  color: #f8f8f2;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  position: relative;
}

.code-header {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  background-color: #0b0e32;
  position: relative; /* Necesario para la pseudo-clase ::before */
  z-index: 1; /* Asegura que el borde RGB esté en la parte superior */
  border-bottom: 1px solid grey;
}

.code-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Grosor del borde */
  background: linear-gradient(
    90deg,
    #182080,
    rgba(247, 11, 247, 0.5),
    rgba(121, 11, 247, 0.5),
    rgba(18, 18, 204, 0.5)
  );
  z-index: -1; /* Asegura que el borde RGB esté detrás del contenido del header */
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.red {
  background-color: #ff6c6b;
}
.yellow {
  background-color: #f5be42;
}
.green {
  background-color: #66d9ef;
}

.code-block {
  padding: 16px;
  margin: 0;
  white-space: pre-wrap;
  overflow: auto;
}

.keyword {
  color: #f92672;
}
.variable {
  color: #a6e22e;
}
.operator {
  color: #f8f8f2;
}
.string {
  color: #e6db74;
}
.property {
  color: #66d9ef;
}
.boolean {
  color: #f92672;
}
.number {
  color: #ae81ff;
}
.bracket {
  color: #f8f8f2;
}
