.code-container {
  width: 100%;
  height: auto;
  background-color: #2e2e2e;
  color: #f8f8f2;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  position: relative;
}

.code-header {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  background-color: #333;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.red {
  background-color: #ff6c6b;
}
.yellow {
  background-color: #f5be42;
}
.green {
  background-color: #66d9ef;
}

.code-block {
  padding: 16px;
  margin: 0;
  white-space: pre-wrap;
  overflow: auto;
}

.keyword {
  color: #f92672;
}
.variable {
  color: #a6e22e;
}
.operator {
  color: #f8f8f2;
}
.string {
  color: #e6db74;
}
.property {
  color: #66d9ef;
}
.boolean {
  color: #f92672;
}
.number {
  color: #ae81ff;
}
.bracket {
  color: #f8f8f2;
}
