/* Estilos generales del navbar */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* Incluye padding en el ancho total */
  position: relative; /* Asegura que el posicionamiento absoluto dentro del navbar funcione */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-toggler {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer; /* Asegura que el botón sea clickeable */
  position: absolute; /* Posiciona el botón de forma absoluta */
  right: 50px; /* Ajusta la distancia desde el borde derecho */
}

.navbar-toggler-icon {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: 0.3s;
}

.navbar-toggler-icon::before {
  top: -7px;
}

.navbar-toggler-icon::after {
  top: 7px;
}

/* Menú de navegación */
.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #555;
}

/* Estilos para el menú responsivo */
@media (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: 100%;
    flex-direction: column;
    display: none;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin: 0;
  }

  .navbar-toggler {
    display: block;
  }
}
