body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  color: #16f2a6;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.7rem;
  margin-left: 50px;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 50px;
  display: none;
  transition: background-color 0.3s, transform 0.3s;
  padding: 0.5rem;
  border-radius: 4px;
}

.navbar-toggler:hover {
  background-color: #555;
}

.navbar-toggler-icon {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: background-color 0.3s;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: transform 0.3s, background-color 0.3s;
}

.navbar-toggler-icon::before {
  top: -7px;
}

.navbar-toggler-icon::after {
  top: 7px;
}

.navbar-toggler.active .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler.active .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler.active .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  transition: background-color 1s;
  border-radius: 10px;
}

.nav-link:hover {
  color: #ce3fd3;
  background-color: #cfcfcf;
}

@media (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    flex-direction: column;
    display: none;
    background-color: #27143d;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin: 0;
  }

  .navbar-toggler {
    display: block;
  }
}

.navbar-menu.active .navbar-toggler {
  display: none;
}
