.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.icon-container {
  position: relative;
}

.icon {
  font-size: 6rem; /* Ajusta el tamaño según lo necesario */
  color: black;
  background-color: #6a7094;
  border-radius: 20px;
  border: solid 5px #4509a7;
  border-top-color: #7e8c8d;
  padding: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s, background-color 0.6s;
}

.icon:hover {
  transform: scale(1.2);
}

.icon-description {
  font-size: 1rem;
  margin-top: 5px;
  color: #fff;
}

.icon.html5 {
  background-color: #e34c26;
  border-color: #d93d1b;
}

.icon.css3 {
  background-color: #1572b6;
  border-color: #0a69e1;
}

.icon.js {
  background-color: #f7df1e;
  border-color: #f5c100;
}

.icon.react {
  background-color: #61dafb;
  border-color: #4fa3d1;
}

.icon.nodejs {
  background-color: #68a063;
  border-color: #4d7831;
}

/* Estilos para iconos de imagen */
.icon-item img {
  width: 6rem; /* Ajusta el tamaño según lo necesario */
  height: 6rem; /* Mantén las proporciones */
  background-color: #6a7094; /* Fondo para iconos de imagen */
  border-radius: 20px;
  border: solid 5px #4509a7;
  border-top-color: #7e8c8d;
  padding: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s, background-color 0.6s;
}

.icon-item img:hover {
  transform: scale(1.2);
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .icon {
    font-size: 5rem;
  }

  .icon-description {
    font-size: 0.9rem;
  }

  .icon-item img {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 768px) {
  .icon {
    font-size: 4.5rem;
  }

  .icon-description {
    font-size: 0.8rem;
  }

  .icon-item img {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media (max-width: 480px) {
  .icon {
    font-size: 4rem;
  }

  .icon-description {
    font-size: 0.7rem;
  }

  .icon-item img {
    width: 4rem;
    height: 4rem;
  }
}
