.accordion-wrapper {
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.projects-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 10px;
  background-color: #3c2e72;
  border-radius: 10px;
  z-index: 1;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #167080;
  z-index: 0;
}

.accordion-item {
  border: 1px solid #444;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
  background-color: #27023f71;
}

.accordion-title {
  background-color: #490e6b25;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #575757;
}

.accordion-content {
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 0 15px;
}

.accordion-content.active {
  max-height: 500px;
  padding: 15px 15px;
}

.code-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos adaptativos */
@media (max-width: 768px) {
  .accordion-wrapper {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .accordion-wrapper {
    width: 80%;
  }
}
