/* ScrollableCodeDisplay.css */
.accordion-wrapper {
  width: 100%;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px; /* Espaciado interno */
  box-sizing: border-box;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Espacio debajo del título */
}

.projects-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff; /* Color del texto del título */
  margin: 0; /* Elimina el margen predeterminado */
  margin-right: 20px; /* Espacio entre el título y la línea */
  background-color: #3c2e72;
  padding: 10px;
  border-radius: 10px;
}

.line {
  flex-grow: 1; /* Hace que la línea ocupe el espacio restante */
  height: 2px; /* Grosor de la línea */
  background-color: #42057c5d; /* Color de la línea */
}

.accordion-item {
  border: 1px solid #444;
  border-radius: 5px; /* Bordes redondeados en cada ítem */
  margin-top: 10px;
  overflow: hidden;
  background-color: #27023f71; /* Fondo del contenedor */
}

.accordion-title {
  background-color: #490e6b25; /* Color de fondo del título */
  color: #fff; /* Color del texto del título */
  padding: 15px; /* Más espaciado para el título */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.accordion-title:hover {
  background-color: #575757; /* Color de fondo al pasar el ratón */
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease; /* Transiciones suaves */
  background-color: #1e1e1e; /* Fondo del contenido */
  color: #e0e0e0; /* Color del texto */
  padding: 0 15px; /* Espaciado interno en el contenido */
}

.accordion-content.active {
  max-height: 500px; /* Ajusta según el contenido */
  padding: 15px 15px; /* Espaciado interno cuando está activo */
}

.code-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos adaptativos */
@media (max-width: 768px) {
  .accordion-wrapper {
    width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .accordion-wrapper {
    width: 95%; /* Ajusta el ancho para pantallas muy pequeñas */
  }
}
