.slide-container {
  text-align: center;
  border-radius: 30px;
  width: 170vh;
  height: auto;
  overflow: hidden; /* Esconde el desbordamiento del slider */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.slide-container h2 {
  font-size: 24px;
  margin-top: 20px; /* Reduce el margen superior para ajustarse al tamaño del contenedor */
  color: #fff;
  background-color: #895bf55d;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  display: inline-block;
}

.slide-container h2::before,
.slide-container h2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background-color: #1eccd8;
}

.slide-container h2::before {
  left: -60px;
}

.slide-container h2::after {
  right: -60px;
}

.icon-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content; /* Ajusta el ancho del grid a su contenido */
  height: 100%; /* Ajusta la altura del contenedor */
  animation: slide 14s linear infinite; /* Aplica la animación de desplazamiento */
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

/* Animación de desplazamiento de derecha a izquierda */
@keyframes slide {
  0% {
    transform: translateX(
      100%
    ); /* Empieza fuera de la pantalla por la derecha */
  }
  100% {
    transform: translateX(
      -100%
    ); /* Termina fuera de la pantalla por la izquierda */
  }
}

/* Responsive styles */
@media (max-width: 1024px) {
  .icon-img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .icon-img {
    width: 40px;
    height: 40px;
  }
  .slide-container {
    text-align: center;
    border-radius: 30px;
    width: 90vh;
    height: auto;
    overflow: hidden; /* Esconde el desbordamiento del slider */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
}

@media (max-width: 480px) {
  .icon-img {
    width: 30px;
    height: 30px;
  }
  .slide-container {
    width: 50vh;
  }
}
