/* Estilos principales */
.slide-container {
  text-align: center;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.slide-container h2 {
  font-size: 24px;
  margin-top: 50px;
  color: #fff;
  background-color: #895bf55d;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}

.slide-container h2::before,
.slide-container h2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background-color: #1eccd8;
}

.slide-container h2::before {
  left: -60px;
}

.slide-container h2::after {
  right: -60px;
}

.icon-wrapper {
  width: 80%;
  height: auto;
  padding-top: 20px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

.icon-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  animation: slide 10s linear infinite;
  gap: 20px; /* Espacio entre los ítems */
}

/* Animaciones */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .slide-container h2 {
    font-size: 22px;
  }

  .slide-container h2::before,
  .slide-container h2::after {
    width: 40px;
  }

  .slide-container h2::before {
    left: -40px;
  }

  .slide-container h2::after {
    right: -40px;
  }

  .icon-wrapper {
    width: 90%;
  }

  .icon-slider {
    gap: 15px; /* Espacio entre los ítems para pantallas medianas */
  }
}

@media (max-width: 768px) {
  .slide-container h2 {
    font-size: 20px;
  }

  .slide-container h2::before,
  .slide-container h2::after {
    width: 30px;
  }

  .slide-container h2::before {
    left: -30px;
  }

  .slide-container h2::after {
    right: -30px;
  }

  .icon-wrapper {
    width: 95%;
  }

  .icon-slider {
    gap: 10px; /* Espacio entre los ítems para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .slide-container h2 {
    font-size: 18px;
  }

  .slide-container h2::before,
  .slide-container h2::after {
    width: 20px;
  }

  .slide-container h2::before {
    left: -20px;
  }

  .slide-container h2::after {
    right: -20px;
  }

  .icon-wrapper {
    width: 100%;
  }

  .icon-slider {
    gap: 5px; /* Espacio entre los ítems para pantallas muy pequeñas */
  }
}
