.estudiosContainer {
  text-align: center;
  color: white;
  position: relative;
  padding: 20px;
  border-top: none;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 1px;
  margin-top: 100px;
}

.estudiosTitle {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.estudiosTitle h3 {
  color: #fff;
  margin: 0;
  font-size: 24px;
  background-color: #895bf55d;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.estudiosTitle::before,
.estudiosTitle::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background-color: #1eccd8;
}

.estudiosTitle::before {
  left: -60px;
}

.estudiosTitle::after {
  right: -60px;
}

.estudioImage {
  width: 300px;
  height: auto;
  border-radius: 8px;
  position: relative;
  animation: levitate 3s ease-in-out infinite;
  filter: drop-shadow(0 0 5px #690661) drop-shadow(0 0 10px #f8c2f1);
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.estudiosContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  flex-wrap: wrap;
}

.cardWrapper {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .estudiosTitle h3 {
    font-size: 22px;
    padding: 8px;
  }

  .estudiosTitle::before,
  .estudiosTitle::after {
    width: 40px;
  }

  .estudiosTitle::before {
    left: -40px;
  }

  .estudiosTitle::after {
    right: -40px;
  }

  .compuImage {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .estudiosTitle h3 {
    font-size: 20px;
    padding: 6px;
  }

  .estudiosTitle::before,
  .estudiosTitle::after {
    width: 30px;
  }

  .estudiosTitle::before {
    left: -30px;
  }

  .estudiosTitle::after {
    right: -30px;
  }

  .compuImage {
    width: 200px;
  }

  .estudiosContent {
    flex-direction: column;
  }

  .cardWrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .estudiosTitle h3 {
    font-size: 18px;
    padding: 5px;
  }

  .estudiosTitle::before,
  .estudiosTitle::after {
    width: 20px;
  }

  .estudiosTitle::before {
    left: -20px;
  }

  .estudiosTitle::after {
    right: -20px;
  }

  .compuImage {
    width: 150px;
  }
}
.badge-container {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre las insignias */
  justify-content: center; /* Centra las insignias horizontalmente */
  filter: drop-shadow(
    0 10px 8px rgba(238, 203, 7, 0.699)
  ); /* Aplica el filtro drop-shadow */
}

.badge-link {
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.badge-image {
  width: 170px; /* Ajusta el tamaño de las insignias si es necesario */
  height: auto; /* Mantiene la proporción de las insignias */
  transition: transform 0.3s ease; /* Agrega una transición suave al efecto hover */
}

.badge-image:hover {
  transform: scale(1.1); /* Escala la imagen al pasar el cursor */
}
