* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  height: 670px;
}

.title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.title h4 {
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
}
.contenedor {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #242731;
}

.carta {
  width: 300px;
  height: 350px;
  margin: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh;
}

.carta img {
  width: 80%;
}
.carta p {
  color: white;
  margin-top: 2vh;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 100;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #e7dfd8; /* Aquí está el color de fondo del footer */
  display: flex;
  flex-direction: column;
  align-items: center; /* Esto centrará la imagen verticalmente */
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.texto {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  flex-direction: column;
  align-items: center;
}

.texto h3 {
  font-size: 4rem;
  text-align: center;
  color: #68696b;
  font-style: italic;
  font-weight: 300;
}

.texto h5 {
  font-size: 2rem;
  text-align: center;
  color: #68696b;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
  margin-top: 15vh;
}

.contacto {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

@media only screen and (max-width: 767px) {
  .contacto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
  }
  .contactoDatos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

.contactoDatos {
  display: flex;
  justify-content: center;
  align-items: center;
}
