.ContenedorGeneralInfo {
  text-align: center;
  color: white;
  background-image: url("../../assets/hero.svg");
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  z-index: 1; /* Asegura que el contenedor esté por encima del fondo */
  position: relative; /* Asegura que z-index tenga efecto */
}
.titleContainer {
  position: relative; /* Necesario para posicionar los pseudo-elementos */
  display: inline-block; /* Ajusta el contenedor al tamaño del texto */
  margin-top: 20px;
}

.titleContainer h3 {
  color: #fff; /* Color del texto del título */
  margin: 0; /* Elimina el margen predeterminado */
  font-size: 24px; /* Tamaño de la fuente del título */
  background-color: #895bf55d; /* Fondo semitransparente negro */
  padding: 10px; /* Espaciado interno alrededor del texto */
  border-radius: 5px; /* Bordes redondeados opcionales */
  display: inline-block; /* Ajusta el fondo al tamaño del texto */
}

.titleContainer::before,
.titleContainer::after {
  content: "";
  position: absolute;
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajusta la posición verticalmente */
  width: 50px; /* Ancho de la línea (ajusta a tu preferencia) */
  height: 1px; /* Altura de la línea */
  background-color: #1eccd8; /* Color de la línea */
}

.titleContainer::before {
  left: -60px; /* Posiciona la línea a la izquierda del contenedor */
}

.titleContainer::after {
  right: -60px; /* Posiciona la línea a la derecha del contenedor */
}

.compuImage {
  width: 300px; /* Ajusta según tus necesidades */
  height: auto;
  border-radius: 8px;
  position: relative; /* Necesario para el pseudo-elemento */
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); /* Sombra base */
  animation: levitate 3s ease-in-out infinite, lightMove 3s linear infinite;
}

/* Animación para el efecto de levitación */
@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Animación para el efecto de luz LED RGB recorriendo los bordes */
@keyframes lightMove {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.7))
      drop-shadow(0 0 10px rgba(0, 255, 0, 0.7))
      drop-shadow(0 0 10px rgba(0, 0, 255, 0.7));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.7))
      drop-shadow(0 0 20px rgba(0, 255, 0, 0.7))
      drop-shadow(0 0 20px rgba(0, 0, 255, 0.7));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.7))
      drop-shadow(0 0 10px rgba(0, 255, 0, 0.7))
      drop-shadow(0 0 10px rgba(0, 0, 255, 0.7));
  }
}

.infoProfesionalContenedor {
  width: 100%;
  height: auto; /* Permite que el contenedor ajuste su altura según el contenido */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.CardContenedor {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .infoProfesionalContenedor {
    width: 100%;
    height: auto;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
  }
}
