.card {
  position: relative;
  border: 1px solid #8606a094;
  color: #3a089c;
  border-radius: 8px;
  width: 500px;
  padding: 30px 10px 20px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #0f1428, #1d0352);
  margin: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, background 0.3s ease; /* Añadido para suavizar el efecto */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(255, 105, 180, 0.4),
    rgba(255, 105, 180, 0) 50%
  );
  mix-blend-mode: screen; /* Cambiado para un mejor efecto de iluminación */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Añadido para transiciones suaves */
  opacity: 0; /* Inicialmente invisible */
}

.card:hover::before {
  opacity: 1; /* Se vuelve visible al pasar el mouse */
  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(114, 3, 59, 0.329),
    rgba(255, 105, 180, 0) 60%
  );
  transform: scale(1.05); /* Efecto de escala leve al pasar el mouse */
}

.card-header {
  text-align: center;
  margin-bottom: 16px;
  color: #16f2a6;
  position: relative;
  z-index: 2;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.icon-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.card-icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.text-containerCard {
  display: flex;
  flex-direction: column;
  color: white;
}

.top-text {
  font-size: 14px;
  margin: 0;
  color: white;
}

.bottom-text {
  font-size: 12px;
  margin: 0;
}
